<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="defaultStatementTimeout" value="30"/>
	</settings>

	<typeAliases>
#foreach ($table in $plugin.sortedTables) 
		<typeAlias alias="${table.baseClassName}DO" type="com.yunzong.panda.auto.model.${table.baseClassName}DO"/>
#end 	
	</typeAliases>
	<mappers>
#foreach ($table in $plugin.sortedTables)            
		<mapper resource="mybatis/sqlmap/auto/mapping/${table.baseClassName}-sqlmap.xml"/>
#end
	</mappers>
</configuration>
